
<div class="table-responsive">          
                              <table class="table" >
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N.</td>
                        <td>Margaret</td>
                        <td>Pius</td>
                        <td>Raphael</td>
                </tr>
                <tr>
                     <td >Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                     <td>Anjali</td>
                     <td>Amos</td>
                </tr>
                 <tr>
                     <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
                    <td>Pauline O</td>
                    <td>Eunice</td>
               </tr>
               <tr>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
                 <td>Dr.Pamela</td>
                 <td>Wamuyu</td>
              </tr>
              <tr>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
                <td>Mary Wachira</td>
                <td>Phina</td>
              </tr>
      </tbody>
  </table></h2>
</div>               
       