
<style>
  .imagehome{
    margin-left:150px;
  }
  
  
</style>


<div class="imagehome">

    <img src=" http://consolatashrine.org/wp-content/uploads/2015/11/slider_2.jpg" align="center" alt="some_text" style="width:800px;height:400px;">
   
   </div>
  