
<style>
  .fa-ul{
    margin-top:15px;
    color:red;
  }
</style>



<div class="container">
    <div class="container-fluid">
      <div class="row">
            <div class="col-sm-3";>
                <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                     <div class="thumbnail">

 <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/16265452_983068758492765_4968844513174343300_n.jpg?oh=55bfbc502a00b039f0d0a259fff247e4&oe=59DD7D52">
                       
                      
                         <div class="card-block">
                          <ul class="fa-ul">
                            <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>BERNARD K. NJERU</strong></li>
                                <p class="card-text">
                              <a href="#" class="btn btn-primary">View more...</a></li>
                         </ul>
                       </p>
                     </div>
                </div>
            </div>
         </div>
          
                 
                
           <div class="col-sm-3";>
              <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
    <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19149482_1069631259836514_1022768071183225368_n.jpg?oh=fea762f858c799402e1ed486447c2dfc&oe=59D8345C" >
                    <div class="card-block">
                     <h4 class="card-title">Name</h4>
                     <p class="card-text">Some quick example text to build</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
               
            
        <div class="col-sm-3";>
              <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
                    <img src="/assets/richie.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                    <div class="card-block">
                     <h4 class="card-title">Name</h4>
                     <p class="card-text">Some quick example text to build</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          
            
        <div class="col-sm-3";>
             <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
                  <img src="/assets/christine.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                   <div class="card-block">
                   <h4 class="card-title">Name</h4>
                 <p class="card-text">Some quick example text to build</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
         </div>
      </div>
    </div>
    
    
            















</div>             
            