
<style>
  .fa-ul{
    margin-top:15px;
    color:red;
  }
</style>



<div class="container">
    <div class="container-fluid">
      <div class="row">
            <div class="col-sm-3";>
                <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                     <div class="thumbnail">
                       <img src="/assets/bk.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                         <div class="card-block">
                          <ul class="fa-ul">
                            <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>BERNARD K. NJERU</strong></li>
                                <p class="card-text">
                              <a href="#" class="btn btn-primary">View more...</a></li>
                         </ul>
                       </p>
                     </div>
                </div>
            </div>
         </div>
          
                 
                
           <div class="col-sm-3";>
              <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
                    <img src="/assets/richie.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                    <div class="card-block">
                     <h4 class="card-title">Name</h4>
                     <p class="card-text">Some quick example text to build</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
               
            
        <div class="col-sm-3";>
              <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
                    <img src="/assets/richie.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                    <div class="card-block">
                     <h4 class="card-title">Name</h4>
                     <p class="card-text">Some quick example text to build</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          
            
        <div class="col-sm-3";>
             <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                <div class="thumbnail">
                  <img src="/assets/christine.jpg" alt="rss feed"  alt="Card image cap" height="300" width="300" style="border-radius:.60rem;" />
                   <div class="card-block">
                   <h4 class="card-title">Name</h4>
                 <p class="card-text">Some quick example text to build</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
         </div>
      </div>
    </div>
    
    
            















</div>             
            