
        <style>
          .fa-ul{
            margin-top:15px;
            color:purple;
          }
        </style>
        
        
        
        <div class="container">
            <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-3";>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                             <div class="thumbnail">
        
         <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19060175_1069631439836496_417363116114315474_n.jpg?oh=88d6ae8184da6f601d213f1739cbea72&oe=59E51A66">
                               
                                <div class="card-block">
                                  <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>BERNARD K. NJERU</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                             </div>
                        </div>
                    </div>
                 </div>
                  
                         
                        
                   <div class="col-sm-3";>
                      <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
<img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113766_1072007722932201_6972468664307047171_n.jpg?oh=9c19f2862b9bf9ae9ffa4b0c166677a8&oe=59D41E11" >
                            <div class="card-block">
                              <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>WACHEKE NJUE</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                       
                    
                <div class="col-sm-3";>
                      <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                            <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19146148_1071983509601289_711720579333085499_n.jpg?oh=d26e5b805f2ad0ad2c146156474469f6&oe=59DAEC66">
                            <div class="card-block">
                             <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>RICHARD KATHAMBANA</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    
                <div class="col-sm-3";>
                     <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                          <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113984_1069632149836425_3625953188793396546_n.jpg?oh=9f1f67abbf2c3c2785ef6ef2d8e71198&oe=59E5EC3C">
                           <div class="card-block">
                          <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>CHRISTINE N</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
            </div>
            
                <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-3";>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                             <div class="thumbnail">
        
         <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113941_1071983149601325_3082439463102394521_n.jpg?oh=987cd6c1ac1bd30e5229ace9c66ad65f&oe=59CB2D00">
                               
                              
                                 <div class="card-block">
                                  <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>EMMANUEL MUSENJULE</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                             </div>
                                    </div>
                                </div>
                             </div>
                              
                                     
                                    
                               <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113725_1069631216503185_8774435809527509546_n.jpg?oh=4064aa0f7dd6c984601b3349e6bd3120&oe=59E34181" >   
                                        <div class="card-block">
                                          <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARY WACHIRA</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                                           </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                   
                                
                            <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19030531_1069631159836524_7856351147231396351_n.jpg?oh=26ea257d3df306d9c7e3ef933a6501ab&oe=59A076F1">
                                        <div class="card-block">
                                         <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARIAM NYAMU</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    
                <div class="col-sm-3";>
                     <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                          <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19059715_1069631369836503_7671552021304958181_n.jpg?oh=4ce3ba694eb0afbac3cb1a781b87d89b&oe=59CE32F1">
                           <div class="card-block">
                          <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>IVY </strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
            </div>
            
                    
          <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-3";>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                             <div class="thumbnail">
        
         <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113941_1071983149601325_3082439463102394521_n.jpg?oh=987cd6c1ac1bd30e5229ace9c66ad65f&oe=59CB2D00">
                               
                          <div class="card-block">
                                  <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>EMMANUEL MUSENJULE</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                             </div>
                                    </div>
                                </div>
                             </div>
                              
                                     
                                    
                               <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113725_1069631216503185_8774435809527509546_n.jpg?oh=4064aa0f7dd6c984601b3349e6bd3120&oe=59E34181" >   
                                        <div class="card-block">
                                          <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARY WACHIRA</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                                           </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                   
                                
                            <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19030531_1069631159836524_7856351147231396351_n.jpg?oh=26ea257d3df306d9c7e3ef933a6501ab&oe=59A076F1">
                                        <div class="card-block">
                                         <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARIAM NYAMU</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    
                <div class="col-sm-3";>
                     <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                          <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19059715_1069631369836503_7671552021304958181_n.jpg?oh=4ce3ba694eb0afbac3cb1a781b87d89b&oe=59CE32F1">
                           <div class="card-block">
                          <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>IVY </strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>  
                  
             <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-3";>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                             <div class="thumbnail">
        
         <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113941_1071983149601325_3082439463102394521_n.jpg?oh=987cd6c1ac1bd30e5229ace9c66ad65f&oe=59CB2D00">
                               
                              
                                 <div class="card-block">
                                  <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>EMMANUEL MUSENJULE</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                             </div>
                                    </div>
                                </div>
                             </div>
                              
                                     
                                    
                               <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113725_1069631216503185_8774435809527509546_n.jpg?oh=4064aa0f7dd6c984601b3349e6bd3120&oe=59E34181" >   
                                        <div class="card-block">
                                          <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARY WACHIRA</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                                           </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                   
                                
                            <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19030531_1069631159836524_7856351147231396351_n.jpg?oh=26ea257d3df306d9c7e3ef933a6501ab&oe=59A076F1">
                                        <div class="card-block">
                                         <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARIAM NYAMU</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    
                <div class="col-sm-3";>
                     <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                          <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19059715_1069631369836503_7671552021304958181_n.jpg?oh=4ce3ba694eb0afbac3cb1a781b87d89b&oe=59CE32F1">
                           <div class="card-block">
                          <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>IVY </strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
            </div>     
              <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-3";>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                             <div class="thumbnail">
        
         <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113941_1071983149601325_3082439463102394521_n.jpg?oh=987cd6c1ac1bd30e5229ace9c66ad65f&oe=59CB2D00">
                               
                              
                                 <div class="card-block">
                                  <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>EMMANUEL MUSENJULE</strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                             </div>
                                    </div>
                                </div>
                             </div>
                              
                                     
                                    
                               <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19113725_1069631216503185_8774435809527509546_n.jpg?oh=4064aa0f7dd6c984601b3349e6bd3120&oe=59E34181" >   
                                        <div class="card-block">
                                          <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARY WACHIRA</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                                           </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                   
                                
                            <div class="col-sm-3";>
                                  <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                                    <div class="thumbnail">
                                        <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19030531_1069631159836524_7856351147231396351_n.jpg?oh=26ea257d3df306d9c7e3ef933a6501ab&oe=59A076F1">
                                        <div class="card-block">
                                         <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>MARIAM NYAMU</strong></li>
                                                    <p class="card-text">
                                                  <a href="#" class="btn btn-primary">View more...</a></li>
                                             </ul>
                               </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    
                <div class="col-sm-3";>
                     <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                        <div class="thumbnail">
                          <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19059715_1069631369836503_7671552021304958181_n.jpg?oh=4ce3ba694eb0afbac3cb1a781b87d89b&oe=59CE32F1">
                           <div class="card-block">
                          <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i><strong>IVY </strong></li>
                                        <p class="card-text">
                                      <a href="#" class="btn btn-primary">View more...</a></li>
                                 </ul>
                               </p>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
            </div>