<!-- 18TH JUNE 2017 -->
                 <div class="bhoechie-tab-content">
                
                      <h2 style="margin-top: 0;color:#55518a">
        
                           <div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                        <td>Margaret</td>
                </tr>
                <tr>
                     <td >Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                </tr>
                 <tr>
                     <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
               </tr>
               <tr>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
              </tr>
              <tr>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
              </tr>
      </tbody>
  </table></h2>
        </div>               
          
           <div class="bhoechie-tab-content">
                
                      <h2 style="margin-top: 0;color:#55518a">
         
                           <div class="table-responsive">          
                              <table class="table">
                                              <thead> 
                           
                      <!-- 25TH JUNE 2017 -->          
          
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Raphael</td>
                        <td>Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                </tr>
                <tr>
                     <td >Amos</td>
                     <td>Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                </tr>
                 <tr>
                     <td>Eunice</td>
                    <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
               </tr>
               <tr>
                 <td>Wamuyu</td>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
              </tr>
              <tr>
                <td>Phina</td>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
              </tr>
              </tbody>
          </table></h2>
        </div>               