


<style type="text/css">
  
 

.y{
    font-size:20px;
}

axa{
    margin-top:500px;
    margin-left:600px;
}
 </style>
               


<div class="container">
  
   <ul class="nav nav-tabs">
              <li ><a data-toggle="tab" href="#jan">January</a></li>
              <li><a data-toggle="tab" href="#february">February</a></li>
              <li><a data-toggle="tab" href="#march">March</a></li>
              <li><a data-toggle="tab" href="#april">April</a></li>
              <li><a data-toggle="tab" href="#may">May</a></li>
              <li  ><a data-toggle="tab" href="#june">June</a></li>
              <li class="active"><a data-toggle="tab" href="#july">July</a></li>
              <li><a data-toggle="tab" href="#august">August</a></li>
              <li><a data-toggle="tab" href="#september">September</a></li>
              <li><a data-toggle="tab" href="#october">October</a></li>
              <li><a data-toggle="tab" href="#november">November</a></li>
              <li><a data-toggle="tab" href="#december">December</a></li>
       </ul>

  <div class="tab-content">
    <div id="jan" class="tab-pane fade ">
     <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">JANUARY SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="february" class="tab-pane fade">
     <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">FEBRUARY SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="march" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">MARCH SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="april" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">APRIL SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="may" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">MAY SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="june" class="tab-pane fade ">
      <h3>JUNE</h3>
     <div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4Th June 2017<br> PENTECOST SUNDAY</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table" >
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N.</td>
                        <td>Margaret</td>
                        <td>Pius</td>
                        <td>Raphael</td>
                </tr>
                <tr>
                     <td >Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                     <td>Anjali</td>
                     <td>Amos</td>
                </tr>
                 <tr>
                     <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
                    <td>Pauline O</td>
                    <td>Eunice</td>
               </tr>
               <tr>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
                 <td>Dr.Pamela</td>
                 <td>Wamuyu</td>
              </tr>
              <tr>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
                <td>Mary Wachira</td>
                <td>Phina</td>
              </tr>
      </tbody>
  </table>
</div>
</div>
</div>
</div>
<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">11Th June 2017<br> HOLY TRINITY<br>Junior Youth Mass </div>


<div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N.</td>
                        <td>Margaret</td>
                        <td>Pius</td>
                </tr>
                <tr>
                     <td >Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                     <td>Anjali</td>
                </tr>
                 <tr>
                     <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
                    <td>Pauline O</td>
               </tr>
               <tr>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
                 <td>Dr.Pamela</td>
              </tr>
              <tr>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>Jonh Micheal</td>
                <td>Mary Wachira</td>
              </tr>
         </tbody>
     </table>
   </div>
</div>
</div>
</div>


<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">18Th June 2017<br> CORPUS CHRISTI</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
 <div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                        <td>Margaret</td>
                </tr>
                <tr>
                     <td >Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                </tr>
                 <tr>
                     <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
               </tr>
               <tr>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
              </tr>
              <tr>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
              </tr>
      </tbody>
  </table></div>
</div>
</div>
</div> 

<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4tH june 2017<br> 12Th Sunday OT<BR>PMC MASS</div>
<div class="col-sm-9" style="background-color:lavenderblush;">
   <div class="table-responsive">          
                              <table class="table">
                                              <thead> 
                           
                             
          
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Raphael</td>
                        <td>Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                </tr>
                <tr>
                     <td >Amos</td>
                     <td>Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                </tr>
                 <tr>
                     <td>Eunice</td>
                    <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
               </tr>
               <tr>
                 <td>Wamuyu</td>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
              </tr>
              <tr>
                <td>Phina</td>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
              </tr>
              </tbody>
          </table>
          </div>
</div>
</div>
  </div>
  </div>
  
    <div id="july" class="tab-pane fade in active">
      <h3>July</h3>
      <div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">2nd July 2017<br> 13TH SUNDAY <br>Ordinary Time</div>
    <div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table" >
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Joseph N.</td>
                        <td>Dr.Daniel</td>
                        <td>Dominic</td>
                        <td>James</td>
                        <td>Emmanuel</td>
                        <td>Raphael</td>
                </tr>
                <tr>
                     <td >Stella Njoki</td>
                     <td>Maryann</td>
                     <td>Dr.Pamela</td>
                     <td>Rosemary</td>
                     <td>Suzanne</td>
                     <td>Evelyn</td>
                </tr>
                 <tr>
                     <td>Anjali</td>
                    <td>Tabitha</td>
                    <td>Robert</td>
                    <td>Wacheke</td>
                    <td>Lucy</td>
                    <td>Agatha</td>
               </tr>
               <tr>
                 <td>Pauline O</td>
                 <td>Amos</td>
                 <td>Stella Njogu</td>
                 <td>Wamuyu</td>
                 <td>Tony Wachira</td>
                 <td>Jessica</td>
              </tr>
              <tr>
                <td>Bernadette</td>
                <td>Mariam</td>
                <td>Phina</td>
                <td>Naomi</td>
                <td></td>
                <td>Ivy</td>
              </tr>
      </tbody>
  </table>
</div>
</div>
</div>
</div>
<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">9Th July 2017<br> 14TH SUNDAY<br>Ordinary Time<br>Junior Youth Mass </div>


<div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Joseph Kahuko</td>
                        <td>Joseph N.</td>
                        <td>Dr.Daniel</td>
                        <td>Dominic</td>
                        <td>James</td>
                        <td>Emmanuel</td>
                </tr>
                <tr>
                     <td >Eunice</td>
                     <td>Stella Njoki</td>
                     <td>Maryann</td>
                     <td>Dr.Pamela</td>
                     <td>Rosemary</td>
                     <td>Suzanne</td>
                </tr>
                 <tr>
                     <td>Triza</td>
                    <td>Anjali</td>
                    <td>Tabitha</td>
                    <td>Robert</td>
                    <td>Wacheke</td>
                    <td>Lucy</td>
               </tr>
               <tr>
                 <td>Margaret</td>
                 <td>Pauline O</td>
                 <td>Amos</td>
                 <td>Stella Njogu</td>
                 <td>Wamuyu</td>
                 <td>Tony Wachira</td>
              </tr>
              <tr>
                <td>Mary Wachira</td>
                <td>Bernadette</td>
                <td>Mariam</td>
                <td>Phina</td>
                <td>Naomi</td>
                <td></td>
              </tr>
         </tbody>
     </table>
   </div>
</div>
</div>
</div>


<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">16Th July 2017<br> 15TH SUNDAY <br>Ordinary Time</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
 <div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Anthony Gatei</td>
                        <td>Joseph Kahuko</td>
                        <td>Joseph N.</td>
                        <td>Dr.Daniel</td>
                        <td>Dominic</td>
                        <td>James</td>
                </tr>
                <tr>
                     <td >Pauline M</td>
                     <td>Eunice</td>
                     <td>Stella Njoki</td>
                     <td>Maryann</td>
                     <td>Dr.Pamela</td>
                     <td>Rosemary</td>
                </tr>
                 <tr>
                     <td>Francis</td>
                    <td>Triza</td>
                    <td>Anjali</td>
                    <td>Tabitha</td>
                    <td>Robert</td>
                    <td>Wacheke</td>
               </tr>
               <tr>
                 <td>Safina</td>
                 <td>Margaret</td>
                 <td>Pauline O</td>
                 <td>Amos</td>
                 <td>Stella Njogu</td>
                 <td>Wamuyu</td>
              </tr>
              <tr>
                <td></td>
                <td>Mary Wachira</td>
                <td>Bernadette</td>
                <td>Mariam</td>
                <td>Phina</td>
                <td>Naomi</td>
              </tr>
      </tbody>
  </table>
  </div>
</div>
</div>
</div> 

<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">23Rd July 2017<br> 16Th SUNDAY<BR>Ordinary Time</div>
<div class="col-sm-9" style="background-color:lavenderblush;">
   <div class="table-responsive">          
                              <table class="table">
                                              <thead> 
                           
                             
          
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Raphael</td>
                        <td>Anthony Gatei</td>
                        <td>Joseph Kahuko</td>
                        <td>Joseph N</td>
                        <td>Dr.Daniel</td>
                        <td>Dominic</td>
                </tr>
                <tr>
                     <td >Evelyne</td>
                     <td>Pauline M</td>
                     <td>Eunice</td>
                     <td>Stella Njoki</td>
                     <td>Maryann</td>
                     <td>Dr.Pamela</td>
                </tr>
                 <tr>
                     <td>Agatha</td>
                    <td>Francis</td>
                    <td>Triza</td>
                    <td>Anjali</td>
                    <td>Tabitha</td>
                    <td>Robert</td>
               </tr>
               <tr>
                 <td>Jessica</td>
                 <td>Safina</td>
                 <td>Margaret</td>
                 <td>Pauline O</td>
                 <td>Amos</td>
                 <td>Stella Njogu</td>
              </tr>
              <tr>
                <td>Ivy</td>
                <td></td>
                <td>Mary Wachira</td>
                <td>Bernadette</td>
                <td>Mariam</td>
                <td>Phina</td>
              </tr>
              </tbody>
          </table>
          
</div>
</div>
  </div>
  </div>
  
  <div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">30Th July 2017<br> 17Th SUNDAY<BR>Ordinary Time</div>
<div class="col-sm-9" style="background-color:lavenderblush;">
   <div class="table-responsive">          
                              <table class="table">
                                              <thead> 
                           
                             
          
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Emmanuel</td>
                        <td>Raphael</td>
                        <td>Anthony Gatei</td>
                        <td>Joseph Kahuko</td>
                        <td>Joseph N.</td>
                        <td>Dr.Daniel</td>
                </tr>
                <tr>
                     <td >Suzanne</td>
                     <td>Evelyne</td>
                     <td>Pauline M</td>
                     <td>Eunice</td>
                     <td>Stella Njoki</td>
                     <td>Maryann</td>
                </tr>
                 <tr>
                     <td>Lucy</td>
                    <td>Agatha</td>
                    <td>Francis</td>
                    <td>Triza</td>
                    <td>Anjali</td>
                    <td>Tabitha</td>
               </tr>
               <tr>
                 <td>Tony Wachira</td>
                 <td>Jessica</td>
                 <td>Safina</td>
                 <td>Margaret</td>
                 <td>Pauline O</td>
                 <td>Amos</td>
              </tr>
              <tr>
                <td></td>
                <td>Ivy</td>
                <td></td>
                <td>Mary Wachira</td>
                <td>Bernadette</td>
                <td>Mariam</td>
              </tr>
              </tbody>
          </table>
          
          </div>
</div>
</div>
  </div>
  </div>
    <div id="august" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">AUGUST SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="september" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">SEPTEMBER SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="october" class="tab-pane fade">
     <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">OCTOBER SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="november" class="tab-pane fade">
      <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">NOVEMBER SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
    <div id="december" class="tab-pane fade">
     <div class="container-fluid">
         <div class="row">
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h1 class="axa">DECEMBER SCHEDULE COMING SOON  </h1></i></li>
  
</ul>
</div>
    </div>
    </div>
  </div>
</div>





 

  
                           
      
                
  