


<style type="text/css">
  
 

.y{
    font-size:20px;
}
 </style>
               


<div class="container">
  
   <ul class="nav nav-tabs">
              <li ><a data-toggle="tab" href="#jan">January</a></li>
              <li><a data-toggle="tab" href="#february">February</a></li>
              <li><a data-toggle="tab" href="#march">March</a></li>
              <li><a data-toggle="tab" href="#april">April</a></li>
              <li><a data-toggle="tab" href="#may">May</a></li>
              <li class="active" ><a data-toggle="tab" href="#june">June</a></li>
              <li ><a data-toggle="tab" href="#july">July</a></li>
              <li><a data-toggle="tab" href="#august">August</a></li>
              <li><a data-toggle="tab" href="#september">September</a></li>
              <li><a data-toggle="tab" href="#october">October</a></li>
              <li><a data-toggle="tab" href="#november">November</a></li>
              <li><a data-toggle="tab" href="#december">December</a></li>
       </ul>

  <div class="tab-content">
    <div id="jan" class="tab-pane fade ">
     
  <ul class="fa-ul" align="center">
 
  <li><i class="fa-li fa  fa-spin"> <h3 align="center">JANUARY SCHEDULE COMING SOON  </h3><p></i></li>
  
</ul>
    </div>
    <div id="february" class="tab-pane fade">
      <h3>FEBRUARY</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="march" class="tab-pane fade">
      <h3>MARCH</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="april" class="tab-pane fade">
      <h3>APRIL</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="may" class="tab-pane fade">
      <h3>MAY</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="june" class="tab-pane fade in active">
      <h3>JUNE</h3>
     <div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4tH june 2017<br> PENTECOST SUNDAY</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table" >
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N.</td>
                        <td>Margaret</td>
                        <td>Pius</td>
                        <td>Raphael</td>
                </tr>
                <tr>
                     <td >Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                     <td>Anjali</td>
                     <td>Amos</td>
                </tr>
                 <tr>
                     <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
                    <td>Pauline O</td>
                    <td>Eunice</td>
               </tr>
               <tr>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
                 <td>Dr.Pamela</td>
                 <td>Wamuyu</td>
              </tr>
              <tr>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
                <td>Mary Wachira</td>
                <td>Phina</td>
              </tr>
      </tbody>
  </table>
</div>
</div>
</div>
</div>
<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4tH june 2017<br> PENTECOST SUNDAY</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
<div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N.</td>
                        <td>Margaret</td>
                        <td>Pius</td>
                </tr>
                <tr>
                     <td >Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                     <td>Anjali</td>
                </tr>
                 <tr>
                     <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
                    <td>Pauline O</td>
               </tr>
               <tr>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
                 <td>Dr.Pamela</td>
              </tr>
              <tr>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>Jonh Micheal</td>
                <td>Mary Wachira</td>
              </tr>
         </tbody>
     </table>
   </div>
</div>
</div>
</div>


<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4tH june 2017<br> PENTECOST SUNDAY</div>


<div class="col-sm-9" style="background-color:lavenderblush;">
 <div class="table-responsive">          
                              <table class="table">
                                              <thead>
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                        <td>Margaret</td>
                </tr>
                <tr>
                     <td >Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                     <td>Safina</td>
                </tr>
                 <tr>
                     <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
                    <td>Stella Njogu</td>
               </tr>
               <tr>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
                 <td>James</td>
              </tr>
              <tr>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
                <td>John Micheal</td>
              </tr>
      </tbody>
  </table></div>
</div>
</div>
</div> 

<div class="container-fluid">
       <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">4tH june 2017<br> PENTECOST SUNDAY</div>
<div class="col-sm-9" style="background-color:lavenderblush;">
   <div class="table-responsive">          
                              <table class="table">
                                              <thead> 
                           
                             
          
                                                 <tr>
                                                   <th class="x">Sat 1730hrs</th>
                                                   <th class="x">Sun 0730hrs </th>
                                                   <th class="x">Sun 0900hrs </th>
                                                   <th class="x">Sun 1030hrs</th>
                                                   <th class="x">Sun 1200hrs</th>
                                                   <th class="x">Sun 1730hrs</th>
                                                  </tr>
                                           </thead>
        <tbody class="y">
                <tr>
                        <td >Raphael</td>
                        <td>Joseph Kahuko</td>
                        <td>Anthony G</td>
                        <td>Dominic</td>
                        <td>Dr.Daniel</td>
                        <td>Joseph N</td>
                </tr>
                <tr>
                     <td >Amos</td>
                     <td>Bernadette</td>
                     <td>Jessica</td>
                     <td>Maryann M</td>
                     <td>Rosemary</td>
                     <td>Stella Njoki</td>
                </tr>
                 <tr>
                     <td>Eunice</td>
                    <td>Agatha</td>
                    <td>Mariam</td>
                    <td>Triza</td>
                    <td>Pauline M</td>
                    <td>Emmanuel</td>
               </tr>
               <tr>
                 <td>Wamuyu</td>
                 <td>Lucy</td>
                 <td>Tabitha</td>
                 <td>Ivy</td>
                 <td>Robert</td>
                 <td>Evelyne</td>
              </tr>
              <tr>
                <td>Phina</td>
                <td>Francis</td>
                <td>Tony Wachira</td>
                <td>Suzanne</td>
                <td>Naomi</td>
                <td>Wacheke</td>
              </tr>
              </tbody>
          </table>
          </div>
</div>
</div>
</div> 
  
  
  
    <div id="july" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="august" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="september" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="october" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="november" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="december" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>





 

  
                           
      
                
  