// Place all the styles related to the consolata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg:	#008000; 

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron
{
    background-color:red;}
    
    
    <style>
  
 
  
  .x{
    font-size:20px;
  }
  .y{
    font-size:18px;
 @media only screen and (max-width: 500px) 
{.pageheader{
width:50%;}}

</style>
