
<style>

@media screen and (max-width: 528px)  {
   .page-header {
       /*display:none;*/
        width:100%;
    }
    .imagehome{
        width:50%;
    }
    .hometext{
       
       font-size:80px;
       /*margin-left:100px;*/
     
     }
     
      .img_cross{
       margin-top:10px;
       margin-right:15px;
   } 
   
   .remove{
       display:none;
   }
    .page-header{
        text-align:center;
    }
    .imagehome{
    width:100%;
  }
  
   
}

  .page-header{
     
     text-align:center;
     margin-right:70px;
     margin-left:70px;
      height:150px;
      background-color:purple;
    margin-top:50px;
  }  
  
   .hometext{
       font-size:30px;
       margin-left:100px;
     
     }
   
   .img_bible{
       margin-top:-50px;
       margin-left:10px;
   } 
   
    .img_cross{
       margin-top:30px;
       margin-right:50px;
   } 
   
  
   
   .nobr {
       white-space: nowrap; 
       
   }
   
   #phome{
       margin-top:70px;
   }
    
   .imagehome{
    width:100%;
  }
   
    


}
</style>
<div class=""
<div class="container" "nobr">
   
    <div class="row">
<div class="page-header" id="head-title">
  
 <nobr>  <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19148953_1071982776268029_6747314476710523361_n.jpg?oh=2b686dca9e1509dc40261485b699c1ff&oe=59D699D0"  class="img_cross" style="float:right; width:100px; height:100px;">
     
         
 <h1 class="hometext"  style="font-family: 'Sofia', cursive;">CONSOLATA SHRINE PROCLAIMERS 
 <small class="remove"><br>Cleanse My Heart And Lips That I May Worthily Proclaim Your Word</small></h1>
<img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19225153_1071984416267865_8563472407720268465_n.jpg?oh=d4807615824d6eabf7bc796fc929efd7&oe=59A23C55"  class="img_bible" style="float:left; width:100px; height:100px;">
</nobr>

</div>
</div>

