
<style>

  .page-header{
      /*text-align:center;*/
     
      height:150px;
      background-color:purple;
    margin-top:50px;
  }  
   
   .img_bible{
       margin-top:-50px;
       margin-left:15px;
   } 
   
    .img_cross{
       margin-top:40px;
       margin-right:15px;
   } 
   
   .hometext{
       margin-left:200px;
     
       
   }
   
   #phome{
       margin-top:50px;
   }
    
    
</style>


<div class="container">
    <div class="row">
<div class="page-header" id="head-title">
    
   <img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19148953_1071982776268029_6747314476710523361_n.jpg?oh=2b686dca9e1509dc40261485b699c1ff&oe=59D699D0"  class="img_cross" style="float:right; width:100px; height:100px;">
     
         
 <h1 class="hometext"  style="font-family: 'Sofia', cursive;">CONSOLATA SHRINE PROCLAIMERS 
 <small><br>Cleanse My Heart And Lips That I May Worthily Proclaim Your Word</small></h1>
<img src="https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-9/19225153_1071984416267865_8563472407720268465_n.jpg?oh=d4807615824d6eabf7bc796fc929efd7&oe=59A23C55"  class="img_bible" style="float:left; width:100px; height:100px;">

</div>


</div>